﻿@charset "utf-8";
/* CSS Document */
.infoBoxContent{font-size:12px;width:293px;}
.infoBoxContent .infoBoxtitle{height:26px;padding-top:3px;background:transparent url('dlbj.png') no-repeat -3px 0px;font-size:12px;}
/*天地图专用，xiaohua Add*/
.infoBox.Content.GeoTitle{background:url(title_1.jpg) no-repeat;height:27px;width:250px;font-size:12px;}
.infoBoxContent .infoBoxtitle strong{font-size:12px;line-height:25px;padding:0 5px 0 5px;}
.infoBoxContent .infoBoxtitle .price{color:#ff7300;}
.infoBoxContent .infoBoxlist{border-top:none;background:transparent url('dlbj.png') bottom no-repeat;height:133px;}
.infoBoxContent .infoBoxlist ul{margin:0;padding:0px;list-style:none;}
.infoBoxContent .infoBox ul{margin:0;padding:0px;list-style:none;}
.infoBoxContent .infoBox ul li{height:22px;line-height:22px;}
.infoBoxContent .infoBoxlist ul li {float:left;width:100%;font-size:12px;height:22px;line-height:22px;}
.infoBoxContent .infoBoxlist ul .last{border:none;}
.infoBoxContent .infoBoxlist ul img{width:53px;height:42px;margin-right:5px;}
.infoBoxContent .infoBoxlist ul p{padding:0;margin:0;}
.infoBoxContent .infoBoxleft{float:left;text-align:left;padding:0px 0px;font-size:12px;width:50%;text-indent:5px;}
.infoBoxContent .infoBoxleftdata{float:left;padding:0px 0px;font-size:12px;text-align:left;width:50%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.infoBoxContent .curr{color: #EB6100;}
.infoBoxContent .infoBoth{text-align:left;padding:0px 0px;font-size:12px;width:100%;clear:both;text-indent:5px;}
.infoBoxContent a{color:#0041D9;text-decoration:none;font-size:12px;}
.rmb {font-size:12px;}
