#tab{
	font: 12px "Microsoft YaHei", Verdana, arial, sans-serif;
    line-height: 22px;
	width: 510px;
}
#tab td{
	padding: 10px;
    color: #878787;
    border-bottom: 1px solid #d8d8d8 !important;
    background-color: #fbfbfb !important;
}
.row1{
	width: 140px;
	text-align: center;
}
.status{
	width: 30px;
	background: url(../img/ico_status.gif) -50px center no-repeat #fbfbfb;
}
.status-first{
	width: 30px;
	background: url(../img/ico_status.gif) 0px center no-repeat #fbfbfb;
}
.status-wait{
	width: 30px;
	background: url(../img/ico_status.gif) -100px center no-repeat #fbfbfb;
}
.status-check{
	width: 30px;
	background: url(../img/ico_status.gif) -150px center no-repeat #fbfbfb;
}
.last{
	color: #FF8c00;
    border-bottom: none;
    background-color: #ffffff;
}
#show_exp .exp_title{
	text-align: center;
	font-size: 20px;
	color: #878787;
	margin-bottom: 10px;
}
.m_top{
	 margin-top: -14%;
}
#expModalLabel{
	font-size: 22px;
	font-weight: bold;
}