<!DOCTYPE html>
<html data-ng-app="app" data-ng-controller="takeoutCtrl">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>{{takeout.id==0|ifx:"添加外卖信息":takeout.name}}</title>
<script type="text/javascript" src="../source/js/angular.min.js"></script>
<script type="text/javascript" src="../source/js/ui-bootstrap.min.js"></script>
<!-- IMPORT COMMON STYLE -->
<#include "../freemarker/commonCSS.ftl"/> <#include
"../freemarker/commonJS.ftl"/> <#include "../freemarker/uploadify.ftl"/>
<style type="text/css">
.content {
	margin-top: 60px
}
/*表单  */
.control-label {
	font-weight: bold;
}

.pointer {
	cursor: pointer;
}

.picPrew {
	width: 150px;
	border: 2px solid white;
}

a i {
	font-size: 1.2em
}

.icon-eye-close {
	color: SILVER
}

.opt {
	text-align: center;
}

.valid {
	color: red;
}

.desc {
	font-size: 0.8em
}

.avg {
	text-align: right;
}

/* 图片 */
#pictab ul,li {
	list-style: none;
	padding: 0
}

#pictab li {
	display: inline-block;
	margin: 1em;
	text-align: center;
}

.imgdiv {
	width: 18em;
	height: 15em;
	overflow: hidden;
	background-color: #EFEFEF;
	border: 4px solid white;
	border-radius: 4px;
	display: table-cell;
	vertical-align: middle;
}

.picTotal {
	float: right;
}

.imgDelBtn {
	position: absolute;
	padding: 0.2em;
	cursor: pointer;
	font-size: 1.5em;
	border-radius: 4px;
	margin: 0.2em;
	color: red
}

.modal {
	width: 900px;
}

.modal-body {
	position: relative;
	max-height: 530px;
	padding: 15px;
	overflow-y: auto;
}
</style>
</head>
<body onload="mapInit();">
	<!-- 顶部固定头部 -->
	<#include "../freemarker/topbar.ftl"/>

	<div class="container-fluid content">
		<!-- 导航条 -->
		<div class="row-fluid">
			<ul class="breadcrumb">
				<li>当前位置<span class="divider">: </span></li>
				<li>外卖信息管理 <span class="divider">/</span></li>
				<li>{{takeout.id==0|ifx:"添加":"编辑"}}外卖信息</li>
			</ul>
		</div>
		<div class="row-fluid">
			<div class="tabbable">
				<!-- 标签页 -->
				<ul class="nav nav-tabs">
					<li class="active"><a href="#basicinfo" data-toggle="tab">基本信息</a></li>
					<li><a href="#coverpictab" data-toggle="tab">封面图片</a></li>
					<li><a href="#placepictab" data-toggle="tab">详情图片</a></li>
				</ul>
				<div class="tab-content">
					<!-- 基本信息表单区域 -->
					<div class="tab-pane active" id="basicinfo">
						<form class="form-horizontal" name="takeoutForm">
							<div class="control-group">
								<label class="control-label">外卖ID</label>
								<div class="controls">
									<span data-ng-bind="takeout.id==0 | ifx:'添加新外卖':takeout.id"></span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">外卖商家名称</label>
								<div class="controls">
									<input type="text" class="span6" name="name" maxlength="30"
										required placeholder="地点名称" data-ng-model="takeout.name" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">所属区域</label>
								<div class="controls">
									<select data-ng-model="takeout.region.id"
										data-ng-options="r.id as r.name for r in regions"></select>
								</div>
							</div>

							<div class="control-group">
								<label class="control-label">外卖类型</label>
								<div class="controls">
									<label class="checkbox inline"> <input type="checkbox"
										data-ng-model="takeout.hasBreakfast"> 早餐
									</label> <label class="checkbox inline"> <input type="checkbox"
										data-ng-model="takeout.hasLunchDinner">正餐
									</label> <label class="checkbox inline"><input type="checkbox"
										data-ng-model="takeout.hasNightsnack">宵夜 </label>
								</div>
							</div>
							<div id="divselectCards" class="control-group">
								<label class="control-label" for="selectCards">送达区域</label>
								<div class="controls" data-ng-repeat="r in takeout.regionDtos">
									<label class="checkbox inline"> <input type="checkbox"
										data-ng-model="r.selected"> {{r.name}}
									</label>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">外卖商家地址</label>
								<div class="controls">
									<input type="text" class="span6" required maxlength="50"
										placeholder="地址" name="address"
										data-ng-model="takeout.address" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">均价</label>
								<div class="controls">
									<input type="text" class="span6" required maxlength="50"
										placeholder="外卖均价" data-ng-model="takeout.avgConsume" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">百度经纬度</label>
								<div class="controls">
									<input readonly id="lng" type="text" class="span3"
										placeholder="适用百度地图的移动端,经度，如113.296727"
										data-ng-model="takeout.lng" /> <input readonly id="lat"
										type="text" class="span3"
										placeholder="适用百度地图的移动端，纬度,如23.146902"
										data-ng-model="takeout.lat" /> <a href="javascript:void(0);"
										title="在百度地图中查询" onclick="showbaidu();">&nbsp;<i
										class="icon-map-marker">&nbsp;</i></a>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">GPS经纬度</label>
								<div class="controls">
									<input id="glng" type="text" class="span3"
										placeholder="适用高德，谷歌地图的移动端，经度,如113.296727"
										data-ng-model="takeout.glng" readonly /> <input id="glat"
										type="text" class="span3"
										placeholder="适用高德，谷歌地图的移动端，纬度,如23.146902"
										data-ng-model="takeout.glat" readonly /> <a
										href="javascript:void(0)" title="在高德地图中查询"
										onclick="showgaode();">&nbsp;<i class="icon-map-marker">&nbsp;</i></a>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">外卖电话</label>
								<div class="controls">
									<input type="text" class="span7"
										data-ng-model="takeout.allTels"
										placeholder='(注意第一个号码为长号，具体格式：(长号)15013232860,(广美)676634,(广工)654543,(广大)695756)'
										maxlength="80"
										data-ng-pattern="/^\([\u4e00-\u9fa5]+\)\d+(,\([\u4e00-\u9fa5]+\)\d+)*$/">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">外卖营业时间</label>
								<div class="controls">
									<input type="text" class="span7"
										data-ng-model="takeout.bizTime" placeholder='营业时间的描述'
										maxlength="80" required>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">是否在移动终端显示</label>
								<div class="controls">
									<label class="checkbox"> <input type="checkbox"
										data-ng-model="takeout.available">显示
									</label>
								</div>
							</div>

							<div class="control-group">
								<label class="control-label">外卖详情</label>
								<div class="controls">
									<textarea rows="25" class="span6" placeholder="外卖详情(不超过1000字符)"
										data-ng-model="takeout.description" data-ng-maxlength="1000"
										maxlength="1000" required></textarea>
								</div>
							</div>
							<hr>
							<div class="opt span8">
								<button class="btn btn-primary btn-large"
									data-ng-click="submit()"
									data-ng-disabled="submitting || !takeoutForm.$valid">
									<i class="icon-{{submitting | ifx:'spinner icon-spin':'save'}}"></i>
									{{submitting | ifx:'&nbsp;稍等....':'&nbsp;保存'}}
								</button>
							</div>
						</form>
					</div>

					<!-- 封面图区域 -->
					<div class="tab-pane" id="coverpictab">
						<div>
							<input type="file" name="file_upload" id="takeoutCoverPic" />
						</div>
						<div class="picTotal">共{{takeout.coverImages.length}}张图片</div>
						<ul data-ng-init="show=false">
							<li data-ng-repeat="t in takeout.coverImages"
								data-ng-mouseenter="show=true" data-ng-mouseleave="show=false">
								<div class="imgDelBtn" data-ng-click="delCoverPic($index)"
									data-ng-show="show">
									<i class="icon-trash"></i>
								</div>
								<div class="shadow imgdiv">
									<img alt="" data-ng-src="{{t.path}}">
								</div>
							</li>
						</ul>
					</div>



					<!-- 所有图片列表区域 -->
					<div class="tab-pane" id="placepictab">
						<div>
							<input type="file" name="file_upload" id="takeoutPlacePic" />
						</div>
						<div class="picTotal">共{{takeout.placeImages.length}}张图片</div>
						<ul data-ng-init="show=false">
							<li data-ng-repeat="t in takeout.placeImages"
								data-ng-mouseenter="show=true" data-ng-mouseleave="show=false">
								<div class="imgDelBtn" data-ng-click="delPlacePic($index)"
									data-ng-show="show">
									<i class="icon-trash"></i>
								</div>
								<div class="shadow imgdiv">
									<img alt="" data-ng-src="{{t.path}}">
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		regFilter();
		angular
				.module("app", [ 'myFilters', 'ui.bootstrap' ])
				.controller(
						"takeoutCtrl",
						function($scope, $http, $compile) {
							//获取takeout信息
							$scope.refresh = function() {
								$("#loadIcon").show();
								var id = parseInt(getUrlArg("id")) || 0;
								$scope.takeout = {};
								$scope.takeout.id = id < 0 ? 0 : id;
								$scope.takeout.coverImages = [];
								$scope.takeout.placeImages = [];
								$scope.takeout.available = false;
								if ($scope.takeout.id > 0) {
									$http
											.get(
													$ajax("Takeout-fetch")
															+ "?t="
															+ new Date()
																	.getTime()
															+ "&id="
															+ $scope.takeout.id)
											.success(
													function(data) {
														$scope.takeout = data.result;
														$scope.regionId = $scope.takeout.region.id;
														$scope.initConstant();
														$("#loadIcon").hide();
													});
								} else {
									$scope.initConstant();
								}
							};

							//初始化类别,区域下拉框
							$scope.initConstant = function() {

								$http
										.post($ajax("Takeout-getAllRegion"))
										.success(
												function(data, status, headers,
														config) {
													doCheck(data);
													$scope.regions = data.rows;
													if ($scope.takeout.id <= 0) {
														$scope.takeout.regionDtos = data.rows;
														$scope.takeout.region = {
															id : 1
														};
													} else {
														$scope.takeout.region = {
															id : $scope.takeout.region.id
														};
													}
												});
							};

							$scope.submitting = false;

							//初始化封图片上传控件
							$scope.initCoverUpload = function(btnId, multi,
									exData) {
								$('#' + btnId)
										.uploadify(
												{
													'swf' : '${ctx}/source/uploadify/uploadify.swf',
													'buttonText' : '添加图片',
													'uploader' : $ajax("Upload-image"),
													'formData' : exData,//{'imageType' : 1}
													'fileTypeDesc' : '图片格式',
													'fileTypeExts' : '*.jpeg; *.jpg; *.png;*.gif',
													'fileSizeLimit' : '5MB',
													'height' : 22,
													'multi' : multi,
													'queueSizeLimit' : multi ? 20
															: 1,
													'onUploadSuccess' : function(
															file, data,
															response) {
														var resp = eval("("
																+ data + ")");
														if (resp.status == "OK") {

															$scope.takeout.coverImages
																	.push({
																		id : 0,
																		path : '${ctx}/tmp/'
																				+ resp.result
																	});
															$scope.$apply();
														} else
															alert(resp.message);
													}
												});
							};

							//初始化详情图片上传控件
							$scope.initPlaceUpload = function(btnId, multi,
									exData) {
								$('#' + btnId)
										.uploadify(
												{
													'swf' : '${ctx}/source/uploadify/uploadify.swf',
													'buttonText' : '添加图片',
													'uploader' : $ajax("Upload-image"),
													'formData' : exData,//{'imageType' : 1}
													'fileTypeDesc' : '图片格式',
													'fileTypeExts' : '*.jpeg; *.jpg; *.png;*.gif',
													'fileSizeLimit' : '5MB',
													'height' : 22,
													'multi' : multi,
													'queueSizeLimit' : multi ? 20
															: 1,
													'onUploadSuccess' : function(
															file, data,
															response) {
														var resp = eval("("
																+ data + ")");
														if (resp.status == "OK") {
															$scope.takeout.placeImages
																	.push({
																		id : 0,
																		path : '${ctx}/tmp/'
																				+ resp.result
																	});
															$scope.$apply();
														} else
															alert(resp.message);
													}
												});
							};
							//提交表格
							$scope.submit = function() {
								var lat = document.getElementById("lat").value;
								var lng = document.getElementById("lng").value;
								var glat = document.getElementById("glat").value;
								var glng = document.getElementById("glng").value;

								if (lng == "" || lat == "" || glng == ""
										|| glat == "") {
									alert("坐标位置不可为空");
									return;
								}

								$scope.takeout.glat = glat;
								$scope.takeout.glng = glng;
								$scope.takeout.lat = lat;
								$scope.takeout.lng = lng;

								$scope.submitting = true;
								$http
										.post($ajax("Takeout-addEdit"),
												$scope.takeout)
										.success(
												function(data, status, headers,
														config) {
													doCheck(data);
													if (data.status == 'OK') {
														alert("成功保存");
														location = $web("takeout-edit")
																+ "?id="
																+ data.result.id;
													}

													else {
														$scope.submitting = false;
													}
												});
							};
							$scope.refresh();

							//图片删除按钮事件
							$scope.delCoverPic = function(index) {
								var r = confirm("确定删除封面图片吗?");
								if (!r)
									return;
								$scope.takeout.coverImages.splice(index, 1);
							};

							$scope.delPlacePic = function(index) {
								var r = confirm("确定删除这张详情图片吗?");
								if (!r)
									return;
								$scope.takeout.placeImages.splice(index, 1);
							};

							//图片上传事件
							$scope.initCoverUpload("takeoutCoverPic", true, {
								'imageType' : "VENUE_IMAGE"
							});
							$scope.initPlaceUpload("takeoutPlacePic", true, {
								'imageType' : "VENUE_IMAGE"
							});
						});
	</script>

	<!-- 初始化日期选择框 -->
	<script type="text/javascript">
		$(function() {
			$('.datetimepicker').datetimepicker({
				language : 'pt-BR'
			});

		});
	</script>


	<!-- 以下是地图模块代码 -->
	<!-- 地图弹出层 -->
	<div class="modal hide fade" id="viewGaodeModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<div>
				<a id="loctip" href="javascript:;" class="btn btn-primary "
					data-dismiss="modal" onclick="">请单击地图选择位置</a>
			</div>

		</div>
		<div class="modal-body">
			<div id="iGaode" style="width: 900px; height: 550px"></div>
			<div id="iBaudu" style="width: 900px; height: 550px"></div>
			<div id="result"
				style="float: right; position: absolute; left: 500px; top: 0;"></div>
		</div>
		<div class="modal-footer"></div>
	</div>

	<!-- 高德地图相关的JS-->
	<link rel="stylesheet" href="../source/css/gaodemap.css"
		type="text/css" />
	<script type="text/javascript"
		src="http://webapi.amap.com/maps?v=1.2&key=8325164e247e15eea68b59e89200988b"></script>
	<script type="text/javascript">
		var mapObj, toolbar, overview, scale, marker;
		function mapInit() {
			var opt = {
				level : 14,//设置地图缩放级别  
				center : new AMap.LngLat(113.394098, 23.052093),//设置地图中心点     
				doubleClickZoom : true,//双击放大地图  
				scrollWheel : true
			//鼠标滚轮缩放地图  
			}
			mapObj = new AMap.Map("iGaode", opt);
			mapObj.plugin([ "AMap.ToolBar", "AMap.OverView", "AMap.Scale" ],
					function() {
						toolbar = new AMap.ToolBar();
						toolbar.autoPosition = false; //加载工具条   
						mapObj.addControl(toolbar);
						overview = new AMap.OverView(); //加载鹰眼  
						mapObj.addControl(overview);
						scale = new AMap.Scale(); //加载比例尺  
						mapObj.addControl(scale);
					});
		}
		function addGaodeMarker(gaodelng, gaodelat) {
			mapObj.clearMap();//删除所有覆盖物
			//构建点对象
			marker = new AMap.Marker({
				map : mapObj,
				position : new AMap.LngLat(gaodelng, gaodelat), //基点位置
				icon : "http://webapi.amap.com/images/marker_sprite.png", //marker图标，直接传递地址url
				offset : {
					x : -8,
					y : -34
				}
			//相对于基点的位置
			});

			marker.setMap(mapObj);
		}
		function fn(e) {
			document.getElementById("glng").value = e.lnglat.getLng();
			document.getElementById("glat").value = e.lnglat.getLat();
			document.getElementById("loctip").innerHTML = "当前选中点坐标："
					+ e.lnglat.getLng() + "," + e.lnglat.getLat() + ",单击此处确定";
			''
			addGaodeMarker(e.lnglat.getLng(), e.lnglat.getLat());

		}
		function mapclick() {

			listener = AMap.event.addListener(mapObj, 'click', fn);
		}
		function mapclick_unbind() {
			AMap.event.removeListener(listener);
		}
		function showgaode() {
			$('.modal').modal('show').on('shown', function() {
				document.getElementById('iBaudu').style.display = "none";
				document.getElementById('iGaode').style.display = "";
				var gaodelng = document.getElementById("glng").value;
				var gaodelat = document.getElementById("glat").value;
				addGaodeMarker(gaodelng, gaodelat);
			});
		}
		document.onreadystatechange = function() {
			if (document.readyState == "complete") {
				setTimeout("mapclick()", 1500);
			}
		};
	</script>


	<!-- 百度地图相关的JS-->
	<script type="text/javascript"
		src="http://api.map.baidu.com/api?v=1.5&ak=E38b70b28129fd4389e37d14eceac28c"></script>
	<script type="text/javascript">
		var map = new BMap.Map("iBaudu");
		var bpoint = new BMap.Point(113.399366, 23.058531); // 创建点坐标
		map.centerAndZoom(bpoint, 15);
		map.enableScrollWheelZoom(); //启用滚轮放大缩小

		map.addEventListener("click", function(e) {
			document.getElementById("lng").value = e.point.lng;
			document.getElementById("lat").value = e.point.lat;
			document.getElementById("loctip").innerHTML = "当前选中点坐标："
					+ e.point.lng + "," + e.point.lat + ",单击此处确定";
			addBaiduMarker(e.point.lng, e.point.lat);
		});

		function addBaiduMarker(baidulng, baidulat) {
			map.clearOverlays();
			//创建标注点
			var pt = new BMap.Point(baidulng, baidulat);
			var myIcon = new BMap.Icon("../source/img/loc.png", new BMap.Size(
					32, 32));
			var marker2 = new BMap.Marker(pt, {
				icon : myIcon
			});
			map.addOverlay(marker2); // 将标注添加到地图中
		}
		function showbaidu() {
			$('.modal').modal('show').on('shown', function() {

				document.getElementById('iBaudu').style.display = "";
				document.getElementById('iGaode').style.display = "none";
				var baidulng = document.getElementById("lng").value;
				var baidulat = document.getElementById("lat").value;
				addBaiduMarker(baidulng, baidulat);
			});
		}
	</script>


</body>
</html>
