@CHARSET "UTF-8";
/*IE6.0,IE7.0提示*/
.destroy {
	background: url("img/destroy-bg.png") repeat-x;
	width: 100%;
	height: 50px;
	display: none;
	position: fixed;
	bottom: 0;
	z-index: 200;
	_position: absolute;
	_top: expression(documentElement.scrollTop + documentElement.clientHeight +
		"px");
}

.dclose {
	position: absolute;
	right: 35px;
	top: 10px;
}

.dclose a {
	color: #ff7300;
	font-size: 16px;
	padding: 2px 10px;
}

.dclose a:hover {
	color: #ff7300;
	text-decoration: none;
}

#destroy-update {
	height: 46px;
	margin: 0 auto;
}

#destroy-update .content {
	color: #666;
	width: 760px;
	margin: 0 auto;
	line-height: 46px;
	position: relative;
	color: #ff7300;
}

#destroy-update .content span {
	float: left;
}

.browser_chrome, .browser_ie, .browser_ff, .browser_opera {
	width: 45px;
	height: 45px;
	background: url("../img/destroy.png") no-repeat;
	margin-left: 8px;
	cursor: pointer;
}

.browser_chrome {
	background-position: -1px -1px;
}

.browser_ie {
	background-position: -1px -47px;
}

.browser_ff {
	background-position: -1px -143px;
}

.browser_opera {
	background-position: -1px -94px;
}
/*导航*/
.menu-index {
	float: left;
	width: 240px;
	line-height: 50px;
	zoom: 1;
}

.menu-index a {
	color: #CCC;
	font-size: 19px;
	letter-spacing: 2px;
	font-weight: 200;
}

.menu-index a:hover {
	color: #CCC;
	text-decoration: none;
}

.menu-nav {
	width: 514px;
	position: absolute;
	left: 260px;
	top: 0;
}

.menu-nav .clearfixs {
	float: left;
	margin: 0;
}

.menu-nav li.hd_menu_tit {
	position: relative;
	float: left;
	line-height: 50px;
}

.hd_menu_tit a {
	vertical-align: top;
	color: #ccc;
	font-size: 14px;
}

.hd_menu_tit .dropdown-toggle {
	position: relative;
	padding: 0 13px;
	margin: 0 2px;
	z-index: 93;
	text-decoration: none;
}

.hd_menu_list {
	display: none;
	position: absolute;
	z-index: 92;
	top: 47px;
	left: 2px;
	width: 150px;
	background-color: #FFF;
	border: 1px solid #CCC;
	-webkit-border-radius: 0 3px 3px 3px;
	-moz-border-radius: 0 3px 3px 3px;
	border-radius: 0 3px 3px 3px;
	padding: 3px 0;
}

.menu-nav li.hd_menu_hover .hd_menu_list ul {
	margin: 0;
}

.menu-nav li.hd_menu_hover .hd_menu_list ul li {
	height: 30px;
	line-height: 30px;
}

.menu-nav li.hd_menu_hover .hd_menu_list a {
	display: block;
	padding-left: 11px;
	background-image: none;
}

.hd_menu_hover .hd_menu_list {
	display: block;
}

.menu-nav li.hd_menu_hover .hd_menu_list ul li.divider {
	width: 100%;
	height: 1px;
	margin: 8px 0;
	border-bottom: 1px solid #e5e5e5;
}

.pl_10 {
	padding-left: 11px;
}

.hd_menu_hover a {
	color: #555555;
	text-decoration: none;
	display: block;
	background-color: transparent;
	vertical-align: top;
}

.hd_menu_hover a.hover0, .hd_menu_hover a.hover1 {
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.hd_menu_hover a.hover1 {
	line-height: 48px;
}

.hd_menu_list a {
	color: #333333;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.hd_menu_list li.level-hover {
	background-color: #0088cc;
}

.hd_menu_list li.level-hover a {
	color: #ffffff;
	text-decoration: none;
}
/**/
.bcolor {
	border: 1px solid #ddd;
}

.p_load {
	margin: 0;
	line-height: 29px;
	color: #999;
	font-size: 12px;
	padding-left: 27px;
	background: url("../img/loading.gif") no-repeat;
}

.p {
	margin: 0;
	padding: 0;
	clear: both;
	color: #999;
	width: 443px;
}

.cbox {
	border-width: 0px;
	float: left;
	margin: 0 5px 0 0;
	position: relative;
	top: -2px;
}

.span-dis {
	line-height: 29px;
	border: 1px solid #CCC;
	padding: 3px 12px;
	background: whiteSmoke;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(white),
		to(whiteSmoke));
	background: -moz-linear-gradient(top, white 15%, whiteSmoke 50%, #F0F0F0);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 5px #ddd;
	-webkit-box-shadow: 0 0 5px #DDD;
	box-shadow: 0 0 5px #DDD;
}

.pub8 {
	width: 900px;
	margin: 0 auto;
}

.w_2 {
	float: left;
	width: 220px;
	margin-right: 10px;
}

.public_input {
	float: left;
	height: 30px;
	overflow: hidden;
}

.public_input .t {
	background: #fff;
	height: 18px;
	width: 48px;
	padding: 4px;
	color: #444;
	font-size: 14px;
	line-height: 16px;
	border: 1px solid #cccccc;
}

.w_2 img {
	vertical-align: middle;
	margin: 3px 0 3px 5px;
	display: inline;
}

.w_3 {
	float: left;
	position: relative;
	width: 230px;
	display: none;
	z-index: 1000;
}

.w_3 em {
	background: url("../img/yes.png") no-repeat 0 6px;
	height: 29px;
	width: 24px;
	display: block;
}

.w_3 span {
	position: absolute;
	left: -6px;
	top: 8px;
	width: 7px;
	height: 11px;
	background: url("../img/arrow_gray.png");
	font-size: 1px;
	line-height: 1px;
	z-index: 10;
}

.hint {
	float: left;
	border: 1px solid #B9E3FF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #F3FBFF;
	position: absolute;
	left: 0;
	top: 0;
	padding: 4px 5px;
}

.hint p {
	margin: 0;
	color: #666;
	font-size: 12px;
}

.hint strong {
	font-size: 12px;
	font-weight: normal;
	color: #ff7300;
}

.w_error .hint {
	background-color: #ffe9e9;
	border-color: #eda5a5;
}

.w_error span {
	background: url("../img/arrow_left.png") no-repeat;
}

.zindex {
	z-index: 1002;
}
/*按钮样式*/
a.nav-color {
	color: #CCC;
}

a.btn {
	background: url("../img/operate.png") no-repeat;
	background-position: -5px -127px;
	padding: 6px 23px 6px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	font-size: 13px;
}

a.pay {
	background-position: -5px -33px;
	padding: 6px 21px;
}

button.btn {
	background: url("../img/operate.png") no-repeat;
	background-position: 0 0;
	width: 68px;
	height: 30px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	font-size: 13px;
}

button.ent_l {
	background-position: -5px -35px;
}

button.user_l {
	background-position: -7px -65px;
}

button.forget {
	width: 95px;
	color: #333333;
	background-position: -7px -98px;
}

button.reg {
	color: #333333;
	background-position: -5px -4px;
}

button.find-btn {
	background: url("../img/find.png") no-repeat;
	background-position: 0px -33px;
	width: 78px;
	height: 29px;
	font-size: 13px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

button.find-hover {
	background-position: 0px 0px;
}

button.sub-btn {
	background: url("../img/submit.png") no-repeat;
	background-position: 2px -62px;
	width: 110px;
	height: 40px;
	font-size: 13px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

button.sub-hover {
	background-position: -122px -62px;
}

button.sub-ok {
	background-position: -248px 0px;
	color: #666;
}

.btn-group {
	position: relative;
}

a.edit-btn {
	background: url("../img/edit.png") no-repeat;
	color: #333333;
	padding: 6px 0;
	display: block;
	background-position: 1px -3px;
	background-position: -1px -3px\9;
	text-align: center;
}

a.btn-a {
	padding: 7px 27px;
}

a.edit-hover {
	position: relative;
	z-index: 1010;
	background-position: 1px -38px
}

li.aleft a {
	-webkit-border-radius: 0 4px 0 0;
	-moz-border-radius: 0 4px 0 0;
	border-radius: 0 4px 0 0;
}

.mydippers {
	background-color: #f5f5f5;
	padding: 4px 22px;
	border: 1px solid #CCC;
	color: #666;
	-wekite-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
}

.fr {
	position: absolute;
	right: 20px;
}

.fl {
	float: left;
}

.quickMenu {
	position: relative;
	z-index: 1001;
	margin: 0;
}

.navbar .top_bar_drop a {
	position: relative;
	z-index: 1002;
	_top: 9px;
	*top: 9px;
	text-decoration: none;
	vertical-align: top;
}

.navbar .top_bar_drop a:hover {
	text-decoration: none;
}

.navbar .top_bar_drop ul {
	position: absolute;
	display: none;
	right: 0;
	top: 37px;
	_left: 0;
	z-index: 100;
	background: #fff;
	border: 1px solid #ccc;
	border-top-width: 0px;
	margin: 0;
	width: 100px;
	-webkit-border-radius: 3px 0 3px 3px;
	-moz-border-radius: 3px 0 3px 3px;
	border-radius: 3px 0 3px 3px;
	-moz-box-shadow: 0 0 10px #DDD;
	-webkit-box-shadow: 0 0 10px #DDD;
	box-shadow: 0 0 10px #DDD;
	padding: 3px 0;
}

.navbar .top_bar_drop li {
	float: none;
	height: 28px;
	border-top: 1px dashed #eee;
	line-height: 24px;
}

.navbar li {
	position: relative;
	z-index: 1001;
	line-height: 50px;
}

.bill li a {
	padding-left: 22px;
	color: #333333;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

a.hovers {
	border-bottom: 0;
	background-color: #fff;
	border-radius: 3px 3px 0 0;
	background-image: none;
}

.bill li.level-hover {
	background-color: #0088cc;
}

.bill li.level-hover a {
	color: #ffffff;
	text-decoration: none;
	background-color: #0088cc;
}

.nav-tabs li {
	float: left;
	width: 81px;
	height: 37px;
	_heigth: 38px;
	margin-left: 10px;
}

.nav-tabs li.w66 {
	width: 66px;
}

.nav-tabs li.w120 {
	width: 120px;
}

.nav-tabs li.w132 {
	width: 132px;
}

.nav-tabs li a {
	display: block;
	width: 82px;
	color: #999;
	font-size: 14px;
	padding-top: 10px;
	background: url("../img/change.png") no-repeat;
	text-align: center;
}

.nav-tabs li a.ch4 {
	background-position: -80px -6px;
	height: 27px;
	_height: 28px;
}

.nav-tabs li.active a.ch4 {
	background-position: -80px -50px;
	color: #555555;
	height: 28px;
}

.nav-tabs li a.ch3 {
	background-position: -8px -6px;
	height: 27px;
	width: 66px;
}

.nav-tabs li.active a.ch3 {
	background-position: -8px -50px;
	color: #555555;
	height: 28px;
	width: 66px;
}

.nav-tabs li a.ch6 {
	background-position: -7px -96px;
	height: 27px;
	width: 120px;
}

.nav-tabs li.active a.ch6 {
	background-position: -7px -140px;
	color: #555555;
	height: 28px;
	width: 120px;
}

.nav-tabs li a.ch8 {
	background-position: -7px -184px;
	height: 27px;
	width: 130px;
}

.nav-tabs li.active a.ch8 {
	background-position: -7px -227px;
	color: #555555;
	height: 28px;
	width: 130px;
}

.main-menu li {
	margin-bottom: -1px;
}

.main-menu li a {
	height: 35px;
	line-height: 35px;
	border: 1px solid #ddd;
	padding-left: 12px;
}

.main-menu li a:hover {
	background-color: #eeeeee;
	text-decoration: none;
}

.main-menu li.active a {
	color: #555555;
	cursor: default;
	background-color: #ffffff;
	font-weight: bold;
}

#moreEail {
	background-color: #fff;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	left: 0;
	position: absolute;
	top: 30px;
	min-width: 209px;
	z-index: 100;
	margin: 0;
	padding: 5px;
	-moz-box-shadow: 0 0 10px #DDD;
	-webkit-box-shadow: 0 0 10px #DDD;
	box-shadow: 0 0 10px #DDD
}

#moreEail li {
	cursor: pointer;
	height: 18px;
	line-height: 18px;
}

#moreEail li.li-hover {
	background-color: #f5f5f5;
}

.f_l {
	float: left;
	line-height: 16px;
}

#pwdstrength {
	color: #999;
	height: 16px;
	width: 220px;
	clear: both;
	font-size: 12px;
	padding-top: 2px;
}

#pwdstrength b {
	float: left;
	width: 160px;
	height: 14px;
	overflow: hidden;
}

.strengthW b {
	background: url("../img/pwd.png") no-repeat -4px -4px;
}

.strengthM b {
	background: url("../img/pwd.png") no-repeat -4px -18px;
}

.strengthS b {
	background: url("../img/pwd.png") no-repeat -4px -31px;
}

.pw-strong {
	width: 183px;
	margin-top: 3px;
	height: 14px;
	position: relative;
	overflow: hidden;
}

.pw-level {
	position: absolute;
	left: 0;
	top: 0;
	background: url("../img/pwd.png") no-repeat -2px -3px;
	width: 185px;
	height: 15px;
}

#map_canvas {
	height: 780px;
	border: 1px solid #eee;
	border-top: 0;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

.map_load {
	text-align: center;
	width: 400px;
	margin: 10px auto;
	border: 1px solid #eee;
	padding: 15px 0;
	color: red;
	font-weight: bold;
	box-shadow: 1.5px 1.5px 3px rgba(4, 0, 0, 0.15);
}

.row-fluid .mr26 {
	margin-right: 26px;
}

.home-well {
	min-height: 20px;
	padding: 20px 0 0 0;
	margin-bottom: 5px;
	background-color: #f5f5f5;
	border: 1px solid #eee;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#imageF {
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
	cursor: pointer;
	border: 1px solid #ccc;
	box-shadow: 1.5px 1.5px 3px rgba(4, 0, 0, 0.15);
}

img, a {
	vertical-align: middle;
	border: 0;
}

.reg-input ul {
	padding: 0;
	margin: 0;
	color: #333;
	display: block;
	margin-top: 3px;
}

.reg-input ul li span {
	color: #ff7300;
}

.track-menu {
	height: 24px;
	padding: 13px 10px;
	background: url("../img/locbg.png") repeat-x;
	border: 1px solid #eee;
	border-bottom: 0;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	line-height: 24px;
}

.speedbasic, .speedset {
	float: left;
	position: relative;
	height: 30px;
}

.speedset {
	padding-left: 15px;
}

.track-menu a {
	padding: 6px 11px;
	font-size: 12px;
	background: url(../img/button.png) no-repeat;
	cursor: pointer;
	color: black !important;
}

.track-menu button {
	background: url("../img/find.png") no-repeat;
	background-position: 0px 0px;
	width: 78px;
	height: 29px;
	font-size: 13px;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	position: relative;
}

.track-menu button b {
	position: absolute;
	top: 5px;
	left: 8px;
}

.track-menu button.b-hover {
	background-position: 0px -33px;
}

.s-ico {
	position: absolute;
	top: 13px;
	left: 62px;
	background: 0;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	border: 4px solid #93AFCB;
	border-color: white #8AB7E9;
	border-width: 4px 4px 0 4px;
}

.s-ico-hover {
	border-width: 0 4px 4px 4px;
}

.speed-level {
	display: none;
	position: absolute;
	left: 15px;
	top: 28px;
	z-index: 100;
	background: #fff;
	border: 1px solid #ccc;
	margin: 0;
	width: 100px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 10px #DDD;
	-webkit-box-shadow: 0 0 10px #DDD;
	box-shadow: 0 0 10px #DDD;
	padding: 3px 0;
}

.speed-level li {
	background-color: white;
	line-height: 25px;
	cursor: pointer;
}

.speed-level li a {
	background: white;
	padding: 0;
	padding-left: 11px;
}

.speed-level li.speed-hover {
	background-color: #0088cc;
}

.speed-level li.speed-hover a {
	background: #0088cc;
	text-decoration: none;
}

button {
	border: 0;
	padding: 0;
}

.intro-header {
	padding: 9px;
	display: block;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	color: #555555;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	background: url("../img/nav_left.gif") repeat-x;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.intro_ox {
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.btn-pos {
	position: absolute;
	left: 234px;
	top: 1px;
}

/*查询提示*/
.tips_wrong, .tips_gray {
	position: absolute;
	display: none;
	zoom: 1;
	color: #666;
	font-size: 12px;
	z-index: 100;
	width: 210px;
	margin-left: 10px;
}

.tips_wrong label, .tips_gray label {
	padding: 5px 4px 4px;
	font-size: 12px;
	display: block;
	box-shadow: 1.5px 1.5px 3px rgba(4, 0, 0, 0.15);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: absolute;
	left: 0;
	top: 0;
}

.tips_wrong span {
	position: absolute;
	left: -6px;
	top: 8px;
	width: 7px;
	height: 11px;
	background: url("../img/arrow_left.png");
	font-size: 1px;
	line-height: 1px;
	z-index: 10;
}

.tips_gray span {
	position: absolute;
	left: -6px;
	top: 8px;
	width: 7px;
	height: 11px;
	background: url("../img/arrow_gray.png");
	font-size: 1px;
	line-height: 1px;
	z-index: 10;
}

.tips_gray b {
	font-weight: 700;
	color: #333;
}

.label_gray {
	background: #F3FBFF;
	border: 1px solid #B9E3FF;
}

.label_wrong {
	border: 1px solid #eda5a5;
	background: #ffe9e9;
}

.loginFormIpt {
	position: relative;
	width: auto;
	clear: both;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 30px;
	top: 2px;
}

.loginFormTdIpt {
	width: 220px;
	ime-mode: disabled;
	position: absolute;
	top: 1px;
	font-size: 14px;
	border: none;
	line-height: 21px;
	color: #333333;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}

.placeholder {
	color: #C9C9C9;
	font-size: 14px;
	position: absolute;
	left: 8px;
	top: 8px;
	line-height: 14px;
	background: none;
	vertical-align: middle;
}

.i-font {
	font-weight: 700;
	color: #333333;
}

.mana_w {
	min-width: 77px;
	width: 77px;
	top: 25px;
	left: 4px;
	border: 1px solid #ccc;
	-moz-box-shadow: 0 0 10px #DDD;
	-webkit-box-shadow: 0 0 10px #DDD;
	box-shadow: 0 0 10px #DDD;
}

.mana_w li {
	width: 100%;
	float: none;
	height: 28px;
	border-top: 1px dashed #eee;
	line-height: 24px;
}