
<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>最新报名信息</title>
<script type="text/javascript" src="../source/js/angular.min.js"></script>
<script type="text/javascript" src="../source/js/ui-bootstrap.min.js"></script>
<script type="text/javascript"
	src="../source/js/ui-bootstrap-tpls-0.4.0.min.js"></script>
<!-- IMPORT COMMON STYLE -->
<#include "../freemarker/commonCSS.ftl"/> <#include
"../freemarker/commonJS.ftl"/>
<style type="text/css">
.content {
	margin-top: 60px
}

.loading {
	font-size: 1.6em
}

.pagination {
	margin: 0
}

.pageInput {
	text-align: right;
}

.query {
	float: right;
}

.priority0 {
	background-color: #EAEAEA;
}

.priority200 {
	background-color: purple;
}

.priority400 {
	background-color: #FF0000;
}

.normal {
	color: gray
}

.control-label {
	font-weight: bold;
}

.modal {
	width: 500px;
}

.modal-body {
	position: relative;
	max-height: 300px;
	padding: 15px;
	overflow-y: auto;
}
</style>
</head>
<body>
	<#include "../freemarker/topbar.ftl"/>
	<!-- topbar ends -->
	<div class="container-fluid content" data-ng-controller="aListCtrl">
		<h2 id="activityname" class="text-center"></h2>
		<div class="row12">
			<ul class="breadcrumb">
				<li>当前位置<span class="divider">: </span></li>
				<li>最新报名信息 <span class="divider">/</span></li>
				<li>查询</li>
			</ul>

		</div>

		<!-- 查询条件筛选区域 -->
		<div class="row12">
			<div class="form-actions">
				<div class="control-group">
					<input type="text" data-ng-model="query.name"
						placeholder="请输入姓名关键字">
					<button class="btn btn-primary  btn-large"
						data-ng-click="refresh(1,query.pageSize)">查找</button>
						<button class="btn btn-primary  btn-large"
						onclick="javascript:method1('aa')">导出</button>
					<!--	<button class="btn btn-primary  btn-large"
						data-ng-click="addEdit(null)">添加新外卖</button>  -->
				</div>

			</div>
		</div>

		<!-- 翻页控制区域 -->
		<div class="row12 ">
			<div class="row8" style="float: left;">
				<span><input type="text" data-ng-model="query.page"
					data-ng-change="refresh()" class="pageInput span1" />/{{maxPage}}页,
					<select class="span2" data-ng-model="query.pageSize"
					data-ng-options="ps+'条' for ps in [10,20,50,100,150,200]"
					data-ng-change="refresh()" class="span1">
				</select>记录/页,共{{total}}条记录</span><i class="icon-spinner icon-spin loading"
					id="loadIcon"></i>
			</div>
			<div class=" pagination row4 text-right">
				<ul>
					<li><a href="javascript:;"
						data-ng-click="refresh(query.page-1,query.pageSize)"><i
							class="icon-step-backward"></i></a></li>
					<li><a href="javascript:;"
						data-ng-click="refresh(query.page,query.pageSize)"><i
							class="icon-refresh"></i></a></li>
					<li><a href="javascript:;"
						data-ng-click="refresh(query.page+1,query.pageSize)"><i
							class="icon-step-forward"></i></a></li>
				</ul>
			</div>
		</div>

		<!-- 表格数据区域 -->
		<div class="row12">
			<table class="table table-hover table-striped table-bordered" id="aa">
				<thead>
					<tr>
						<th style="color: black; width: 30px">编号</th>
						<th>活动名称</th>
						<th>姓名</th>
						<th>性别</th>
						<th>学校</th>
						<th>学院</th>
						<th>专业</th>
						<th>年级</th>
						<th>手机</th>
						<th>报名时间</th>
						<th>更新时间</th>
						<th>其他信息</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="e in entrys">
						<td style="color: black">{{(query.page-1)*query.pageSize+$index+1}}</td>
						<!--<td>{{c.id}}</td>  -->
						<td>{{e.activityName}}</td>
						<td>{{e.name}}</td>
						<td>{{e.sex}}</td>
						<td>{{e.regionName}}</td>
						<td>{{e.faculty}}</td>
						<td>{{e.major}}</td>
						<td>{{e.grade}}</td>
						<td>{{e.mobile}}</td>
						<th>{{e.createdTime}}</th>
						<th>{{e.updateTime}}</th>
						<th>{{e.joinTip}}</th>
						<td><button class="btn  btn-warning" type="button"
								data-ng-click="deleteEntry(e)">删除</button></td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- 底部的翻页控制区域 -->
		<div class="row12 ">
			<div class=" pagination row4 text-right">
				<ul>
					<li><a href="javascript:;"
						data-ng-click="refresh(query.page-1,query.pageSize)"><i
							class="icon-step-backward"></i></a></li>
					<li><a href="javascript:;"
						data-ng-click="refresh(query.page,query.pageSize)"><i
							class="icon-refresh"></i></a></li>
					<li><a href="javascript:;"
						data-ng-click="refresh(query.page+1,query.pageSize)"><i
							class="icon-step-forward"></i></a></li>
				</ul>
			</div>
		</div>





		<!-- 报名列表相关JS区域 -->
		<script type="text/javascript">
			regFilter();
			angular
					.module("app", [ 'myFilters', 'ui.bootstrap' ])
					.controller(
							"aListCtrl",
							function($scope, $http) {
								$scope.query = {
									page : 1,
									pageSize : 10
								};
								$scope.entry = {
									name : "",
									price : "",
									id : 0
								};
								$scope.query.activity = {};
								//列表刷新触发事件
								$scope.refresh = function(page, pageSize) {
									$scope.query.page = page
											|| parseInt($scope.query.page) || 1;
									$scope.query.pageSize = pageSize
											|| parseInt($scope.query.pageSize)
											|| 10;
									$scope.maxPage = Math.ceil($scope.total
											/ $scope.query.pageSize);
									$scope.query.page = $scope.query.page > $scope.maxPage ? $scope.maxPage
											: $scope.query.page;
									$scope.query.page = $scope.query.page < 1 ? 1
											: $scope.query.page;
									$("#loadIcon").show();
									$scope.activityname = getUrlArg("name");
									document.getElementById("activityname").innerHTML = "最新报名信息";
									$scope.query.activity.id =null;
									$http
											.post(
													$ajax("ActivityEntryForm-getList"),
													$scope.query)
											.success(
													function(data, status,
															headers, config) {
														doCheck(data);
														$scope.entrys = data.rows;
														$scope.total = data.total;
														$scope.maxPage = Math
																.ceil($scope.total
																		/ $scope.query.pageSize);
														if ($scope.maxPage != 0) {
															if ($scope.query.page > $scope.maxPage) {
																$scope.query.page = $scope.maxPage;
																$scope
																		.refresh();
															}
														}
														$("#loadIcon").hide();
													});
								};
								//刷新列表
								$scope.refresh();
								$scope.deleteEntry = function(m) {
									if (m == null) {
										return;
									} else {
										$scope.entry = m;
										if (window.confirm("确定删除 " + m.name
												+ " 吗？")) {
											$http
													.post(
															$ajax("ActivityEntryForm-delete"),
															$scope.entry)
													.success(
															function(data,
																	status,
																	headers,
																	config) {
																doCheck(data);
																if (data.status == "OK") {
																	alert("成功删除  "
																			+ m.name);
																	$scope
																			.refresh();
																} else {
																	alert("删除失败，请重试");
																}
															});
										}
									}

								};
							});
		</script>



</body>
</html>

