
<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>活动查询-疯向标</title>
<script type="text/javascript" src="../source/js/angular.min.js"></script>
<script type="text/javascript" src="../source/js/ui-bootstrap.min.js"></script>
<script type="text/javascript"
	src="../source/js/ui-bootstrap-tpls-0.4.0.min.js"></script>
<!-- IMPORT COMMON STYLE -->
<#include "../freemarker/commonCSS.ftl"/> <#include
"../freemarker/commonJS.ftl"/>
<style type="text/css">
.content {
	margin-top: 60px
}

.loading {
	font-size: 1.6em
}

.pagination {
	margin: 0
}

.pageInput {
	text-align: right;
}

.query {
	float: right;
}

.priority0 {
	background-color: #EAEAEA;
}

.priority200 {
	background-color: purple;
}

.priority400 {
	background-color: #FF0000;
}

.normal {
	color: gray
}

.control-label {
	font-weight: bold;
}
</style>
</head>
<body>
	<!-- 顶部标题条 -->
	<#include "../freemarker/topbar.ftl"/>
	<div class="container-fluid content" data-ng-controller="placeListCtrl">
		<div class="row12">
			<ul class="breadcrumb">
				<li>当前位置<span class="divider">: </span></li>
				<li>活动管理 <span class="divider">/</span></li>
				<li>查询</li>
			</ul>
		</div>
		<div class="row12">
			<accordion> <accordion-group heading="条件筛选">
			<div class="row-fluid">
				<form class="form-horizontal span4">
					<div class="control-group">
						<label class="control-label">关键字</label>
						<div class="controls">
							<input type="text" data-ng-model="query.name"
								placeholder="活动名称的关键字">
						</div>
					</div>
				</form>
				<form class="form-horizontal span4">
					<div class="control-group">
						<label class="control-label">类别</label>
						<div class="controls">
							<select data-ng-model="query.dateType"
								data-ng-options="type.dateType as type.name for type in [{name:'全部',dateType:null},{name:'以前',dateType:'BEFORE'},{name:'本周',dateType:'THIS_WEEK'},{name:'下周',dateType:'NEXT_WEEK'},{name:'以后',dateType:'LATER'}]"></select>
						</div>
					</div>
				</form>
				<form class="form-horizontal span4">
					<div class="control-group">
						<label class="control-label">是否显示在APP</label>
						<div class="controls">
							<select data-ng-model="query.available"
								data-ng-options="available.field as available.name for available in [{name:'全部',field:null},{name:'已显示',field:true},{name:'未显示',field:false}]"></select>
						</div>
					</div>
				</form>
				<button class="btn btn-primary query"
					data-ng-click="refresh(1,query.pageSize)">确定</button>
			</div>
			</accordion-group> </accordion>
		</div>
		<div class="row12 ">
			<div class="row8" style="float: left;">
				<span><input type="text" data-ng-model="query.page"
					data-ng-change="refresh()" class="pageInput span1" />/{{maxPage}}页,
					<select class="span2" data-ng-model="query.pageSize"
					data-ng-options="ps+'条' for ps in [10,20,50,100,150,200]"
					data-ng-change="refresh()" class="span1">
				</select>记录/页,共{{total}}条记录</span><i class="icon-spinner icon-spin loading"
					id="loadIcon"></i>
			</div>
			<div class=" pagination row4 text-right">
				<ul>
					<li><a href="javascript:;"
						data-ng-click="refresh(query.page-1,query.pageSize)"><i
							class="icon-step-backward"></i></a></li>
					<li><a href="javascript:;"
						data-ng-click="refresh(query.page,query.pageSize)"><i
							class="icon-refresh"></i></a></li>
					<li><a href="javascript:;"
						data-ng-click="refresh(query.page+1,query.pageSize)"><i
							class="icon-step-forward"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="row12">
			<table class="table table-hover table-striped table-bordered">
				<thead>
					<tr>
						<!--  <th style="color: silver; width: 30px">#</th>-->
						<th>ID</th>
						<th>名称</th>
						<th>标题</th>
						<th>地址</th>
						<th>开始时间</th>
						<th>结束时间</th>
						<th>限制名额</th>							
						<th>报名数</th>					
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="p in places">
							<!--  <td style="color: silver">{{(query.page-1)*query.pageSize+$index+1}}</td>-->
						<td>{{p.id}}</td>
						<td><a href="activity-edit?id={{p.id}}">{{p.name}}</a></td>
						<td>{{p.title}}</td>
						<td><a href="#" title="在地图中显示经纬度"><i
								class="icon-map-marker"></i></a> {{p.address}}</td>						
						<td>{{p.beginTime}}</td>
						<td>{{p.endTime}}</td>
						<td>{{p.joinLimit>0 | ifx:p.joinLimit:'不限'}}</td>
						<td><a class="btn  btn-success"  href="activity-entryformquery?id={{p.id}}&name={{p.name}}"  target="_bank">{{p.joinCount}}</a></td>						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript">
		regFilter();
		angular
				.module("app", [ 'myFilters', 'ui.bootstrap' ])
				.controller(
						"placeListCtrl",
						function($scope, $http) {
							$scope.query = {
								page : 1,
								pageSize : 20,
								dateType : null,
								available:null
							};//默认
							$scope.refresh = function(page, pageSize) {
								$scope.query.page = page
										|| parseInt($scope.query.page) || 1;
								$scope.query.pageSize = pageSize
										|| parseInt($scope.query.pageSize)
										|| 10;
								$scope.maxPage = Math.ceil($scope.total
										/ $scope.query.pageSize);
								$scope.query.page = $scope.query.page > $scope.maxPage ? $scope.maxPage
										: $scope.query.page;
								$scope.query.page = $scope.query.page < 1 ? 1
										: $scope.query.page;
								$("#loadIcon").show();
								$http
										.post($ajax("Activity-getList"),
												$scope.query)
										.success(
												function(data, status, headers,
														config) {
													doCheck(data);
													$scope.places = data.rows;
													$scope.total = data.total;
													$scope.maxPage = Math
															.ceil($scope.total
																	/ $scope.query.pageSize);
													if ($scope.query.page > $scope.maxPage) {
														$scope.query.page = $scope.maxPage;
													}
													$("#loadIcon").hide();
												});
							};
							$scope.refresh();
						});
	</script>
</body>
</html>
