<!-- 页脚 -->
	<footer>
	<p>
		<span style="text-align: left; float: left">&copy; 2015 <a
			href="http://jiji262.github.io/Bootstrap_Metro_Dashboard/"
			alt="Bootstrap_Metro_Dashboard">北斗盒子管理平台</a></span>

	</p>
	</footer>