
<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>优惠券 </title>
<script type="text/javascript" src="../source/js/angular.min.js"></script>
<script type="text/javascript" src="../source/js/ui-bootstrap.min.js"></script>
<script type="text/javascript"
	src="../source/js/ui-bootstrap-tpls-0.4.0.min.js"></script>
<!-- IMPORT COMMON STYLE -->
<#include "../freemarker/commonCSS.ftl"/> <#include
"../freemarker/commonJS.ftl"/>
<style type="text/css">
.content {
	margin-top: 60px
}

.loading {
	font-size: 1.6em
}

.pagination {
	margin: 0
}

.pageInput {
	text-align: right;
}

.query {
	float: right;
}

.priority0 {
	background-color: #EAEAEA;
}

.priority200 {
	background-color: purple;
}

.priority400 {
	background-color: #FF0000;
}

.normal {
	color: gray
}

.control-label {
	font-weight: bold;
}
</style>
</head>
<body>
	<!-- é¡¶é¨æ é¢æ¡ -->
	<#include "../freemarker/topbar.ftl"/>
	<!-- topbar ends -->
	<div class="container-fluid content"
		data-ng-controller="couponListCtrl">
		<div class="row12">
			<ul class="breadcrumb">
				<li>当前位置<span class="divider">: </span></li>
				<li>优惠券管理 <span class="divider">/</span></li>
				<li>查询</li>
			</ul>
		</div>
		
		<!-- 查询条件筛选区域 -->
		<div class="row12">
			<accordion> <accordion-group heading="条件筛选">
			<div class="row-fluid">
				<form class="form-horizontal span4">
					<div class="control-group">
						<label class="control-label">商家名</label>
						<div class="controls">
							<input type="text" data-ng-model="query.name"
								placeholder="请输入关键字">
						</div>
					</div>
				</form>
				<form class="form-horizontal span4">
					<div class="control-group">
						<label class="control-label">地区</label>
						<div class="controls">
							<select data-ng-model="query.region.id"
								data-ng-options="r.id as r.name for r in regions"></select>
						</div>
					</div>
				</form>
				<form class="form-horizontal span4">
					<div class="control-group">
						<label class="control-label">类别</label>
						<div class="controls">
							<select data-ng-model="query.category.id"
								data-ng-options="cate.id as cate.name for cate in categorys"></select>
						</div>
					</div>
				</form>
				<form class="form-horizontal span4">
					<div class="control-group">
						<label class="control-label">排序</label>
						<div class="controls">
							<select data-ng-model="query.orderField"
								data-ng-options="sort.field as sort.name for sort in [{name:'默认',field:null},{name:'收藏数',field:'collectionAmount'},{name:'使用数',field:'useAmount'}]"></select>
						</div>
					</div>
				</form>
				<form class="form-horizontal span4">
					<div class="control-group">
						<label class="control-label">是否显示在APP</label>
						<div class="controls">
							<select data-ng-model="query.available"
								data-ng-options="available.field as available.name for available in [{name:'全部',field:null},{name:'已显示',field:true},{name:'未显示',field:false}]"></select>
						</div>
					</div>
				</form>
				<button class="btn btn-primary query btn-large"
					data-ng-click="refresh(1,query.pageSize)">确定</button>
			</div>
			</accordion-group> </accordion>
		</div>
		
		<!-- 翻页控制区域 -->
		<div class="row12 ">
			<div class="row8" style="float: left;">
				<span><input type="text" data-ng-model="query.page"
					data-ng-change="refresh()" class="pageInput span1" />/{{maxPage}}页,
					<select class="span2" data-ng-model="query.pageSize"
					data-ng-options="ps+'条' for ps in [10,20,50,100,150,200]"
					data-ng-change="refresh()" class="span1">
				</select>记录/页,共{{total}}条记录</span><i class="icon-spinner icon-spin loading"
					id="loadIcon"></i>
			</div>
			<div class=" pagination row4 text-right">
				<ul>
					<li><a href="javascript:;"
						data-ng-click="refresh(query.page-1,query.pageSize)"><i
							class="icon-step-backward"></i></a></li>
					<li><a href="javascript:;"
						data-ng-click="refresh(query.page,query.pageSize)"><i
							class="icon-refresh"></i></a></li>
					<li><a href="javascript:;"
						data-ng-click="refresh(query.page+1,query.pageSize)"><i
							class="icon-step-forward"></i></a></li>
				</ul>
			</div>
		</div>
		
		<!-- 表格数据区域 -->
		<div class="row12">
			<table class="table table-hover table-striped table-bordered">
				<thead>
					<tr>
						<th style="color: black; width: 30px">编号</th> 
						<!-- <th>ID</th>-->
						<th>类别</th>
						<th>商家名称</th>
						<th>商家电话</th>
						<th>优惠券标题</th>
						<th>优惠券内容</th>
						<th>商家营业时间</th>
						<th>商家主营<br>产品
						</th>
						<th>商家优惠券标识</th>
						<th>优惠券开始时间</th>
						<th>优惠券结束时间</th>
						<th>优惠券地址</th>
						<th>优惠券所属区域</th>
						<th>优惠券使用次数</th>
						<th>优惠券收藏次数</th>
						<th>是否在移动端显示</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="c in coupons">
						<td style="color: black">{{(query.page-1)*query.pageSize+$index+1}}</td>
						<!--<td>{{c.id}}</td>  -->
						<td>{{c.category.name}}</td>
						<td>{{c.name}}</td>
						<td>{{c.tel}}</td>
						<td><a href="coupon-edit?id={{c.id}}">{{c.title}}</a></td>
						<td><p ng-bind-html-unsafe='c.showDec' /></td>
						<td>{{c.bizTime}}</td>
						<td>{{c.industry}}</td>
						<td>{{c.bizidentifier}}</td>
						<td>{{c.beginTime}}</td>
						<td>{{c.endTime}}</td>
						<td><a
							href="http://api.map.baidu.com/marker?location={{c.lat}},{{c.lng}}&title={{c.name}}&content={{c.title}}&output=html"
							title="在地图中显示经纬度" target="_blank"><i class="icon-map-marker"></i></a>
							{{c.address}}</td>
						<td>{{c.region.name}}</td>
						<td>{{c.useAmount}}</td>
						<td>{{c.collectionAmount}}</td>
						<td>{{c.showInApp}}</td>

					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- 底部的翻页控制区域 -->
		<div class="row12 ">
			<div class=" pagination row4 text-right">
				<ul>
					<li><a href="javascript:;"
						data-ng-click="refresh(query.page-1,query.pageSize)"><i
							class="icon-step-backward"></i></a></li>
					<li><a href="javascript:;"
						data-ng-click="refresh(query.page,query.pageSize)"><i
							class="icon-refresh"></i></a></li>
					<li><a href="javascript:;"
						data-ng-click="refresh(query.page+1,query.pageSize)"><i
							class="icon-step-forward"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- 相关JS区域 -->
	<script type="text/javascript">
		regFilter();
		angular
				.module("app", [ 'myFilters', 'ui.bootstrap' ])
				.controller(
						"couponListCtrl",
						function($scope, $http) {
							//获取优惠券类型
							$http.post($ajax("Coupon-getAllCategory")).success(
									function(data, status, headers, config) {
										doCheck(data);
										$scope.categorys = data.rows;
										$scope.query.category = {
											id : 600
										};

									});
							
							//获取区域类型
							$http.post($ajax("Coupon-getAllRegion")).success(
									function(data, status, headers, config) {
										doCheck(data);
										$scope.regions = data.rows;
										$scope.query.region = {
											id : 0
										};
									});
							$scope.query = {
								available : true,
								orderField : null,
								page : 1,
								pageSize : 10
							};
							
							//列表刷新触发事件
							$scope.refresh = function(page, pageSize) {
								$scope.query.page = page
										|| parseInt($scope.query.page) || 1;
								$scope.query.pageSize = pageSize
										|| parseInt($scope.query.pageSize)
										|| 10;
								$scope.maxPage = Math.ceil($scope.total
										/ $scope.query.pageSize);
								$scope.query.page = $scope.query.page > $scope.maxPage ? $scope.maxPage
										: $scope.query.page;
								$scope.query.page = $scope.query.page < 1 ? 1
										: $scope.query.page;
								$("#loadIcon").show();
								$http
										.post($ajax("Coupon-getList"),
												$scope.query)
										.success(
												function(data, status, headers,
														config) {
													doCheck(data);
													$scope.coupons = data.rows;
													$scope.total = data.total;
													$scope.maxPage = Math
															.ceil($scope.total
																	/ $scope.query.pageSize);
													if ($scope.maxPage != 0) {
														if ($scope.query.page > $scope.maxPage) {
															$scope.query.page = $scope.maxPage;
															$scope.refresh();
														}
													}

													$("#loadIcon").hide();
												});
							};
							//刷新列表
							$scope.refresh();
						});
	</script>
</body>
</html>

