<!DOCTYPE html>
<html data-ng-app="app"  data-ng-controller="placeCtrl">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>{{place.id==0|ifx:"添加地点":place.name}}-YOYU</title>
<script type="text/javascript" src="../source/js/angular.min.js"></script>
<script type="text/javascript" src="../source/js/ui-bootstrap.min.js"></script>
<!-- IMPORT COMMON STYLE -->
<#include "../freemarker/commonCSS.ftl"/> 
<#include "../freemarker/commonJS.ftl"/>
<#include "../freemarker/uploadify.ftl"/> 
<style type="text/css">
.content {margin-top: 60px}
/*表单  */
.control-label{font-weight: bold;}
.pointer{cursor: pointer;}
.picPrew{width: 150px;border: 2px solid white;}
a i{font-size: 1.2em}
.icon-eye-close{color: SILVER}
.opt{text-align: center;}
.valid{color: red;}
.desc{font-size: 0.8em}
.avg{text-align: right;}

/* 图片 */
#pictab ul,li{list-style: none;padding: 0}
#pictab li{display: inline-block;margin: 1em;text-align: center;}
.imgdiv{width: 18em;height: 15em;overflow: hidden;background-color: #EFEFEF;
border: 4px solid white;border-radius:4px;display: table-cell;vertical-align: middle;}
.picTotal{float: right;}
.imgDelBtn{position: absolute;padding:0.2em;cursor: pointer;font-size: 1.5em;border-radius:4px;margin: 0.2em;color: red}

</style>
</head>
<body>
	<!-- 顶部固定头部 -->
	<#include "../freemarker/topbar.ftl"/>

	<div class="container-fluid content">
		<!-- 导航条 -->
		<div class="row-fluid">
			<ul class="breadcrumb">
				<li>当前位置<span class="divider">: </span></li>
				<li>地点管理 <span class="divider">/</span></li>
				<li>{{place.id==0|ifx:"添加":"编辑"}}地点</li>
			</ul>
		</div>
		<div class="row-fluid">
			<div class="tabbable">
				<!-- 标签页 -->
				<ul class="nav nav-tabs">
					<li class="active"><a href="#basicinfo" data-toggle="tab">基本信息</a></li>
					<li><a href="#pictab" data-toggle="tab">图片</a></li>
				</ul>
				<div class="tab-content">
					<!-- 基本信息表单区域 -->
					<div class="tab-pane active" id="basicinfo">
						<form class="form-horizontal" name="placeForm">
							<div class="control-group">
								<label class="control-label">地点ID</label>
								<div class="controls">
									<span data-ng-bind="place.id==0 | ifx:'添加新地点':place.id"></span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">地点名称</label>
								<div class="controls">
									<input type="text" class="span6" name="name" maxlength="30" required placeholder="地点名称" data-ng-model="place.name"/>
									<span class="valid" data-ng-show="placeForm.name.$error.required">不能为空</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" >区域</label>
								<div class="controls">
									<select data-ng-model="place.region.id" data-ng-options="r.id as r.name for r in regions"></select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">地址</label>
								<div class="controls">
									<input type="text" class="span6" required maxlength="50" placeholder="地点的地址" name="address" data-ng-model="place.address"/>
									<span class="valid" data-ng-show="placeForm.address.$error.required">不能为空</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">经纬度</label>
								<div class="controls">
									<input type="text" class="span2" placeholder="经度,如113.296727" data-ng-model="place.lng" data-ng-pattern="/^1\d{2}\.\d+$/" required/>
									<input type="text" class="span2" placeholder="纬度,如23.146902" data-ng-model="place.lat" data-ng-pattern="/^\d{2}\.\d+$/" required/>
									<a href="http://api.map.baidu.com/lbsapi/getpoint/index.html" target="_blank" title="在百度地图中查询">&nbsp;<i class="icon-map-marker">&nbsp;</i></a>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">类别</label>
								<div class="controls">
									<select data-ng-model="mainCategory" data-ng-options="cate as cate.key.name for cate in category" data-ng-change="place.category=mainCategory.value[0].id"></select>
									<select data-ng-model="place.category" data-ng-options="cate.id as cate.name for cate in mainCategory.value"></select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" >电话</label>
								<div class="controls">
									<input type="text" class="span7" data-ng-model="place.tel"  placeholder='区号以"-"分隔;多个电话以英文","隔开'  maxlength="80" data-ng-pattern="/^[\d][\d\-\,]+\d$/">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" >营业时间</label>
								<div class="controls">
									<input type="text" class="span7" data-ng-model="place.bizTime"  placeholder='营业时间的描述'  maxlength="80" >
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" >人均</label>
								<div class="controls">
									<div class="input-prepend">
									 <span class="add-on">&yen;</span>
									  <input class="span7 avg" type="text" placeholder="人均消费的价格" data-ng-model="place.avgConsume" maxlength="6" data-ng-pattern="/(^\d+\.?\d+$|^\d+$)/">
									</div>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">公交站点描述</label>
								<div class="controls">
									<textarea rows="4"  class="span6" placeholder="周边交通信息(不超过130字符)" data-ng-model="place.busDesc" data-ng-maxlength="130" maxlength="130"></textarea>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">地点介绍</label>
								<div class="controls">
									<textarea  rows="10" class="span6 desc" data-ng-model="place.description" data-ng-maxlength="1000" maxlength="1000" name="desc"></textarea>
								</div>
							</div>
							<hr>
							<hr>
							<div class="opt span8">
								<button class="btn btn-primary" data-ng-click="submit()" data-ng-disabled="submitting || !placeForm.$valid">
								<i class="icon-{{submitting | ifx:'spinner icon-spin':'save'}}"></i>
								{{submitting | ifx:'&nbsp;稍等....':'&nbsp;保存'}}</button>
							</div>
						</form>
					</div>
					
					<!-- 图片列表区域 -->
					<div class="tab-pane" id="pictab">
						<div><input type="file" name="file_upload" id="placePic" /></div>
						<div class="picTotal">共{{place.images.length}}张图片</div>
						<ul data-ng-init="show=false">
							<li data-ng-repeat="p in place.images" data-ng-mouseenter="show=true" data-ng-mouseleave="show=false" >
								<div class="imgDelBtn" data-ng-click="delPic($index)" data-ng-show="show">
									<i class="icon-trash"></i>
								</div>
								<div class="shadow imgdiv">
									<img alt="" data-ng-src="{{p.path}}">
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<script type="text/javascript">
		regFilter();
		angular.module("app",['myFilters','ui.bootstrap']).controller("placeCtrl",function($scope, $http, $compile) {
			//获取PLACE信息
			$scope.refresh = function() {
				$("#loadIcon").show();
				var id = parseInt(getUrlArg("id")) || 0;
				$scope.place = {};
				$scope.place.id = id<0?0:id;
				$scope.place.images = [];
				if($scope.place.id > 0){
					$http.get($ajax("Place-fetch") + "?t=" + new Date().getTime()+"&id="+$scope.place.id).success(function(data) {
						$scope.place = data.result;
						$scope.regionId = $scope.place.region.id;
						$scope.initConstant();
						$("#loadIcon").hide();
					});
				}
				else{
					$scope.initConstant();
				}
			};

			//初始化类别,区域下拉框
			$scope.initConstant = function(){
				$http.post($ajax("Place-getCategoryTree")).success(function(data, status, headers, config) {
					doCheck(data);
					$scope.category = data.rows;
					if($scope.place.id>=1){
						for(var i=0;i<$scope.category.length;i++){
							var c = $scope.category[i];
							if(c.key.id == ($scope.place.category - ($scope.place.category%100))){
								$scope.mainCategory = c;
								break;
							}
						}
					}
					else{
						$scope.mainCategory = $scope.category[0];
						$scope.place.category = $scope.category[0].value[0].id;
					}
				});
				$http.post($ajax("Place-getAllRegion")).success(function(data, status, headers, config) {
					doCheck(data);
					$scope.regions = data.rows;
					if($scope.place.id<1){
						$scope.place.region = {id:$scope.regions[0].id};
					}
					else{
						$scope.place.region = {id: $scope.regionId};
					}
				});
			}
			$scope.submitting = false;

			//初始化图片上传控件
			$scope.initUpload = function(btnId,multi,exData){
				$('#'+btnId).uploadify({
			        'swf'      : '${ctx}/source/uploadify/uploadify.swf',
			        'buttonText':'添加图片',
			        'uploader' : $ajax("Upload-image"),
			        'formData' : exData,//{'imageType' : 1}
			        'fileTypeDesc' : '图片格式',
	       			'fileTypeExts' : '*.jpeg; *.jpg; *.png',
			        'fileSizeLimit' : '5MB',
			        'height' : 22,
			        'multi' : multi,
			        'queueSizeLimit':multi?20:1,
			        'onUploadSuccess' : function(file, data, response) {
			        	var resp = eval("("+data+")");
			        	if(resp.status == "OK"){
			        		$scope.place.images.push({id:0,path:'${ctx}/tmp/'+resp.result});
			        		$scope.$apply();
			        	}
			        	else alert(resp.message);
			        }
			    });
			};

			//提交
			$scope.submit = function(){
				$scope.submitting = true;
				$http.post($ajax("Place-addEdit"),$scope.place).success(function(data, status, headers, config) {
					doCheck(data);
					if(data.status == 'OK')	location = $web("place-edit")+"?id="+data.result.id;
					else $scope.submitting = false;
				});
			};
			$scope.delPic = function(index){
				var r=confirm("确定删除这张图片吗?");
				if(!r) return;
				$scope.place.images.splice(index,1);
			};
			$scope.refresh();
			$scope.initUpload("placePic",true,{'imageType' : "VENUE_IMAGE"});
		});
		
	</script>
</body>
</html>
