<noscript>
	<div class="alert alert-block span10">
		<h4 class="alert-heading">警告!</h4>
		<p>当前浏览器可能已禁用 <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> ,系统将无法正常工作!</p>
	</div>
</noscript>