@CHARSET "UTF-8";
.shadow{
	filter:progid:DXImageTransform.Microsoft.Shadow(color=BLACK,direction=120,strength=4);
	-moz-box-shadow: 2px 2px 10px BLACK;
	-webkit-box-shadow: 2px 2px 10px BLACK;
	box-shadow:2px 2px 10px BLACK;
}
.invisible{height: 0;overflow: hidden;}
.controls .ng-invalid {
   border: 1px solid red;
   color: red
 }