﻿/*!
 * Css Document
 * 
 * @author	zongxian.chen at 2012/04/16 build.
 * @version $Id$
 */


/************************* Just Reset Browser Default CSS : BEGIN ***************************/
html{
	background-color:#fff;
}
body,div,h1,h2,h3,h4,ul,li,form,input,dl,dt,dd,p{
	margin:0;
	padding:0;
}
h3{
	+font-size:14px;
	_font-size:14px;
}
img{
	border:none;
}
.c{
	clear:both;
}
ul,ol,li{
	list-style:none;
}

 /*清除浮动*/
.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

/* no ie mac \*/
* html .clearfix {
    height: 1%;
}
/* end */
* + html .clearfix {
    height: 1%;
}

body{
	font: 12px/1.5em 微软雅黑,Arial,Verdana,Helvetica,sans-serif;
	color:#333;
}
button,input,select,textarea{
	color:#999;
}
input[type="button"]{
	padding:0 5px;
	color:#333;
}
.demo_box{
	width:659px;
}
/* map style */
#map,#iCenter{
	width:659px;
	height:400px;
	border:1px solid #F6F6F6;
}
#r_title{
	line-height:28px;
	padding-left:5px;
	background-color:#D1EEEE;
	font-weight:bold;
}
#result{
	overflow:auto;
	margin-bottom:5px;
/*	width:661px;*/
	height:255px;
}
/*  结果项 */
#result .sub_result{
	font-size:12px;
	cursor:pointer;
	line-height:20px;
	/*padding:0px 0 4px 2px;*/
	border-bottom:1px solid #C1FFC1;
}
#result .sub_result .detail{
}
#result .sub_result .detail h3{
	color:#00A6AC;
}

a{
	color:#067EC0;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
.note{
	color:#999;
}

/*** layerout stylesheet ***/

/*** copied from demo #56 添加自定义点覆盖物 ***/
/* 定义自定义点样式 */
div.marker{
	height:40px;
	background:url(http://pages.haozu.ajkcdn.com/20110909/img/map/marker.png) left top no-repeat;
}
div.marker div{
	height:28px;
	line-height:28px;
	margin:0 10px;
	color:#FFF;
	background:url(http://pages.haozu.ajkcdn.com/20110909/img/map/marker_bg_170x28.gif) right top no-repeat;
	padding-right:10px;
}
/* 修改背景URL */
div.change{
	background-image:url(http://pages.haozu.ajkcdn.com/20110909/img/map/marker-h.png);
}
div.change div{
	background-image:url(http://pages.haozu.ajkcdn.com/20110909/img/map/marker-h-l.gif);
}